@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-link{
        @apply inline-block px-4 py-2 bg-indigo-700 rounded-md font-bold text-sm text-white uppercase;
    }

    .btn-lg{
        @apply px-6 py-3;
    }

    .btn {
        @apply px-4 py-2 rounded-md font-bold text-sm uppercase tracking-widest focus:ring;
    }

    .btn-danger{
        @apply bg-red-600 hover:bg-red-700 active:bg-red-700 ring-red-300;
    }
}


/* PLEASE READ THIS SO YOU DO NOT GET CONFUSED WHEN STYLING */

/* 

List of Pages and how they are styles for your reference:

step1.blade.php - Tailwind
step2.blade.php - Tailwind
step3.blade.php - Tailwind
step4.blade.php - Tailwind/CSS (Check Comments in this file as I have labelled them)
step5.blade.php - Tailwind/CSS
step6.blade.php - CSS (Check Comments in this file as I have labelled them)
step7.blade.php - CSS (Check Comments in this file as I have labelled them)

/* Everything inside "services", "categories", "clients" were styled using bootstrap5 */


/* Navigation Styles */

.step-progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    background-color: #f0f0f0;
  }

  .step-progress-bar li {
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
    padding: 10px 20px;
  }


/* Products Result Area (step4.blade.php) */

  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
  }

  .product-card:hover {
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .product-card a {
      text-decoration: none;
      color: #333;
  }

  .product-card-title {
      font-size: 18px;
      margin-bottom: 5px;
  }

  .product-card-description {
      font-size: 14px;
      color: #666;
  }

/* Totals Area (step4.blade.php) */

  .selected-products-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.selected-products-container h3 {
    margin-bottom: 15px;
    color: #333;
}

.project-total, .recurring-total, .proposal-total {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.recurring-total input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding does not increase the total width */
}

h3 {
    color: #333;
}

h3 span {
    color: #007bff; /* A nice blue color for the numbers */
}

/* You can find this part under step4.blade.php (error message for selected products) */
.productserr{
    color: red;
}


/* Proposal Summary (step6.blade.php) */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.content-flex{
    display: flex;
    justify-content: space-between;
}


.centered-card {
    width: 100%;
    max-width: 32rem; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    padding: 1.5rem;
    margin: auto;
}

.card-title {
    font-size: 1.125rem; 
    font-weight: 600; 
    margin-bottom: 0.5rem;
}

.card-content {
    margin-bottom: 1rem;
}

.text-gray-600 {
    color: #4B5563; 
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

/* Dashboard */
/* Text Styles */
h2.fw-bold {
	color: #224182;
}

/* Image gallery */
.img {
	width: 50%;
	margin: 0 auto;
}

.carousel-item img {
	object-fit: cover;
	height: 100vh;
}

.carousel-inner,
.carousel-item,
.carousel-item.active {
	height: 100%;
}

/* Text Styles */
h2.fw-bold {
	color: #224182;
}

/* Image gallery */
.img {
	width: 50%;
	margin: 0 auto;
}

.carousel-item img {
	object-fit: cover;
	height: 100vh;
}

.carousel-inner,
.carousel-item,
.carousel-item.active {
	height: 100%;
}

/* Form Inputs and Styles*/

.form-group input {
	display: block;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #3d3d3d;
}

.form-group input::placeholder {
	color: #6c757d;
	padding-left: 5px;
}

.form-group input:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: none;
}

.custom-img {
	width: 100px;
	height: 100px;
}

.line {
	border-top: 1px solid #000;
}

span.span-line {
	top: -0.8em;
	padding: 0 0.5em;
}

.logo-container {
	position: relative;
	z-index: 10;
}

div.form-container .custom-img {
	margin-top: -100px;
	border: 3px solid white;
}

.form-container {
	padding-top: 50px;
	margin-top: 35px;
}

.image-body {
	background-image: url('images/gallery/work-collab.webp');
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.bg-opacity {
	background-color: rgba(255, 255, 255, 0.9);
}

/* Buttons */
.login-btn {
	width: 100%;
}

button.custom-btn, .primary-btn{
	border: 1px solid #224182;
	background-color: #224182;
	transition: border 0.3s, background-color 0.3s;
}

button.custom-btn:hover, .primary-btn:hover {
	border: 1px solid #112652;
	background-color: #112652;
}

.secondary-btn{
	border: 1px solid #fff;
	background-color: #fff;
  color: #224182;
	transition: border 0.3s, background-color 0.3s;
}

.secondary-btn:hover {
  color: #112652;
	border: 1px solid #bebebe;
	background-color: #bebebe;
}

.back-btn:hover {
  border-bottom: 1px solid #000;
}

a.sign-up-btn {
	color: #17ADBB;
	display: inline-block;
	border-bottom: 2px solid transparent;
	transition: color 0.2s, border-bottom-color 0.2s;
}

a.sign-up-btn:hover {
	color: #0d5c63;
	border-bottom-color: #0d5c63;
}

.quick-link {
    background-color: #224182;
    transition: border 0.3s, background-color 0.3s;
}

.quick-link:hover{
    background-color: #112652;
}

.client-proposal {
    background-color: #C4E6F0;
    border: 1px transparent;
}

.google-icon svg{
	width: 16px;
}

.google-icon svg:hover,
.login-btn:hover{
	fill: #fff;
}

/* Sidebar and Top Nav Layout */

.top-nav {
	width: 100%;
	height: 60px;
	background-color: #626262;
	color: white;
	position: fixed;
	z-index: 999;
}

.dropdown-menu {
  display: block; /* Ensures that the dropdown is always a block element */
}

.dropdown-item {
  display: block; /* Ensures that each item takes up the full width of the dropdown */
}

.sidebar {
	height: 100vh;
	width: 80px;
	position: fixed;
	background-color: #222222;
	transition: width 0.5s;
	overflow-x: hidden;
	white-space: nowrap;
	z-index: 1000;
}

.sidebar i {
    color: #C4E6F0;
}

.sidebar:hover {
	width: 250px;
}

.sidebar-icon-only a.nav-link {
    text-align: center;
}

.sidebar-icon-only i {
    width: 50px;
    text-align: center;
}

.sidebar:hover a.nav-link {
    text-align: left;
    padding-left: 50px;
}

.sidebar-icon-only .nav-link span, .fa-chevron-down{
	display: none;
}

.sidebar:hover .nav-link span, .sidebar:hover .fa-chevron-down {
	display: inline;
}

.content {
	padding-top: 60px;
    margin-left: 82px;
}

.sidebar .nav-link {
	color: white;
}

.sidebar .nav-link:hover {
	background-color: #17ADBB;
    justify-content: left;
}

.sidebar .dropdown-menu {
    position: static;
    float: none;
    display: none;
    margin-top: 0;
}
  
.sidebar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.logo-placeholder {
    align-items: center;
}

.logo-placeholder svg{
    fill: #fff;
    margin: 1rem auto;
}

/* Dashboard */
.profile-photo {
    width: 64px;
    height: 64px;
}

/* Custom Styles */
.no-style {
  background-color: transparent;
}

i.bi-trash3-fill:hover {
  color: red;
  transition: color 0.3s ease;
}

i.bi-pencil-square:hover {
  color: green;
  transition: color 0.3s ease;
}

div.bg-blue {
  background-color: #224182;
}

div.bg-gray {
  background-color: #DBDBDB;
}

/* Step Progress Bar */

.step-progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    background-color: #f0f0f0;
  }

  .step-progress-bar li {
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
    padding: 10px 20px;
  }

  /* The pointer on the left side */
  .step-progress-bar li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px; /* half of the square's width */
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-left: 0;
    border-top: 0;
  }

  /* Hide the pointer for the first step */
  .step-progress-bar li:first-child::before {
    content: none;
  }

  /* Adjustments for the pointed shape to connect nicely */
  .step-progress-bar li:not(:first-child) {
    margin-left: -10px; /* Overlap the pointed shapes */
  }

/* Services Index Page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .search-bar, .category-section, .services-section {
    margin: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
  }
  .button {
    background-color: #27c6e6;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .service-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .pagination {
    text-align: center;
    padding: 20px 0;
  }
  .pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  /* EVERYTHING IN HERE WAS ADDED BY KEN */
  
  /* Services Index Cards */
  .bg-zinc{
	background-color: #E4E4E7;
  }

  /* Products Error */
  .productserr{
    color: red;
  }

  .services-flex{
    display: flex;
    justify-content: space-between;
  }


  .deleteButton {
    background-color: #dc3545; 
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  


  /* END KEN'S CONTAINER */
  @media (max-width: 768px) {
    .img-gallery {
      display: none;
    }
  
    .image-body {
      background-image: none;
      width: 100%;
    }
  
  }