@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-link{
        @apply inline-block px-4 py-2 bg-indigo-700 rounded-md font-bold text-sm text-white uppercase;
    }

    .btn-lg{
        @apply px-6 py-3;
    }

    .btn {
        @apply px-4 py-2 rounded-md font-bold text-sm uppercase tracking-widest focus:ring;
    }

    .btn-danger{
        @apply bg-red-600 hover:bg-red-700 active:bg-red-700 ring-red-300;
    }
}

/* Color Pallete */
:root {
  --primary-color: #283041;
  --secondary-color: #F8F8FA;
  --tertiary-color: #222222;
  --button-1-color: #224182;
  --hover-1-color: #112652;
  --button-2-color: #fff;
  --hover-2-color: #17ADBB;
  --button-3-color: #FDDC5C;
  --hover-3-color: #e9c32b;
  --black: #000;
  --white: #fff;
  --light-grey: #6c757d;
}

/* HTML */
body {
  background-color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.content {
	padding-top: 60px;
  margin-left: 82px;
}

h2.fw-bold {
	color: #283041;
}

h3 {
  color: #333;
}

/* Navigation */

  /* Top Navigation */
  .top-nav {
  	background-color: var(--primary-color);
    color: var(--white);
  	height: 60px;
  	position: fixed;
    width: 100%;
  	z-index: 999;
  }

  .top-nav i:hover {
    color: var(--hover-2-color);
    transition: color 0.3s ease;
  }

  /* Dropdown Navigation */
  .dropdown-menu {
    min-width: 350px;
  }
  .dropdown-menu li {
    white-space: normal;
  }
  
  .dropdown-item {
    display: block;
  }

  /* Sidebar Navigation */
  .sidebar {
    background-color: var(--tertiary-color);
  	height: 100vh;
  	overflow-x: hidden;
    position: fixed;
    transition: width 0.5s;
  	white-space: nowrap;
    width: 80px;
  	z-index: 1000;
  }

  .sidebar:hover {
  	width: 250px;
  }

  .sidebar i {
    color: var(--white);
  }

  .sidebar-icon-only a.nav-link {
    text-align: center;
  }

  .sidebar-icon-only i {
    text-align: center;
    width: 50px;
  }

  .sidebar .nav-link {
  	color: white;
  }

  .sidebar .nav-link:hover {
  	background-color: var(--hover-2-color);
    justify-content: left;
  }

  .sidebar:hover a.nav-link {
    padding-left: 50px;
    text-align: left;
  }

  .sidebar-icon-only .nav-link span, .bi-caret-down-fill{
  	display: none;
  }

  .sidebar:hover .nav-link span, .sidebar:hover .bi-caret-down-fill {
  	display: inline;
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .sidebar .dropdown-menu {
    display: none;
    float: none;
    margin-top: 0;
    position: static;
  }

  .sidebar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  .logo-placeholder {
    align-items: center;
  }

  .logo-placeholder svg{
    fill: var(--white);
    margin: 1rem auto;
  }

  /* Step Navigation */

  .step-progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .step-progress-bar li {
    background-color: var(--white);
    border: 1px solid var(--secondary-color);
    flex-grow: 1;
    padding: 10px 20px;
    position: relative;
    text-align: center;
  }

  .btn-width{
    width: 95px;
  }

  div.gradient-bg{
    background: linear-gradient(to right, var(--black), var(--primary-color));
  }

/* Dashboard */

  /* Images */
  .profile-photo {
    width: 50px;
    height: 50px;
  }

  .profile-img{
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
  }

  .quick-link {
    background-color: var(--button-1-color);
    transition: border 0.3s, background-color 0.3s;
  }
  
  .quick-link:hover{
    background-color: var(--hover-1-color);
  }
  
  .client-proposal {
    background-color: #cfecff;
    border: 1px transparent;
  }

/* Breeze Package */

  /* Login */

  .form-group input {
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--tertiary-color);
    color: var(--primary-color);
    display: block;
    line-height: 1.5;
  }
  
  .form-group input::placeholder {
    color: var(--light-grey);
    padding-left: 5px;
  }
  
  .form-group input:focus {
    background-color: var(--white);
    border-color: var(--hover-2-color);
    box-shadow: none;
    color: var(--light-grey);
    outline: 0;
  }

  .google-icon svg{
    width: 16px;
  }
  
  .google-icon svg:hover,
  .login-btn:hover{
    fill: var(--white);
  }
  
  .custom-img {
    height: 100px;
    width: 100px;
  }
  
  .line {
    border-top: 1px solid var(--black);
  }
  
  span.span-line {
    padding: 0 0.5em;
    top: -0.8em;
  }
  
  .logo-container {
    position: relative;
    z-index: 10;
  }
  
  div.form-container .custom-img {
    margin-top: -100px;
    border: 3px solid var(--white);
  }
  
  .form-container {
    margin-top: 35px;
    padding-top: 50px;
  }
  
  .image-body {
    background-image: url('images/gallery/work-collab.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  .bg-opacity {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .d-hide {
    display: none;
  }

  /* Image gallery */
  .img {
    margin: 0 auto;
  	width: 50%;
  }

  .carousel-item img {
    height: 100vh;
  	object-fit: cover;
  }

  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
  	height: 100%;
  }

/* Buttons */

button.custom-btn, 
.primary-btn {
	background-color: var(--button-1-color);
	border: 1px solid var(--button-1-color);
  transition: border 0.3s, background-color 0.3s;
}

button.custom-btn:hover, 
.primary-btn:hover {
	background-color: var(--hover-1-color);
  border: 1px solid var(--hover-1-color);
}

.secondary-btn, 
.btn-info-custom {
	background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--tertiary-color);
	transition: border 0.3s, background-color 0.3s;
}

.secondary-btn:hover, 
.btn-info-custom:hover {
  color: var(--button-1-color);
	background-color: var(--hover-2-color);
  border: 1px solid var(--hover-2-color);
}

.btn-warning-custom {
	background-color: var(--button-3-color);
  border: 1px solid var(--button-3-color);
  color: var(--tertiary-color);
	transition: border 0.3s, background-color 0.3s;
}

.btn-warning-custom:hover {
  background-color: var(--hover-3-color);
	border: 1px solid var(--hover-3-color);
  color: var(--primary-color);
}

a.sign-up-btn {
	border-bottom: 2px solid transparent;
  color: var(--hover-2-color);
	display: inline-block;
	transition: color 0.2s, border-bottom-color 0.2s;
}

a.sign-up-btn:hover {
	color: var(--hover-2-color);
	border-bottom-color: var(--hover-2-color);
}

/* Create New Proposal */

  /* Result Area */
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: auto;
  }

  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .product-card a {
    text-decoration: none;
    color: #333;
  }

  .product-card-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .product-card-description {
    color: var(--light-grey);
    font-size: 14px;
  }

  /* Total Area */

  .project-total, .recurring-total, .proposal-total {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .recurring-total input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
  }
  
  i.bi-circle-fill{
    color: var(--hover-1-color);
  }
  
  .productserr{
    color: red;
  }

  .edit-container {
    display: none;
  }

  /* Proposal Summary */
  .content-flex{
    display: flex;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.125rem; 
    font-weight: 600; 
    margin-bottom: 0.5rem;
  }
  
  .card-content {
    margin-bottom: 1rem;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem; 
  }

  /* Client View */
  .keen-background {
    background: linear-gradient(to bottom, #FF00A6, #FE0038);
  }
  
  .keen-logo {
    width: 40%;
  }
  
  .client-view-img {
    height: 100px;
    width: 100px;
  }
  
  .item-name {
    letter-spacing: 1px;
  }
  
  .item-price {
    color: #F602B5;
  }
  
  .link-btn{
    color: #02FFE7;
  }
  
  .link-btn:hover{
    color: #0d5c63;
  }
  
  footer a i{
    color: white;
    transition: color 0.3s ease;
  }
  
  footer a i.bi-instagram:hover, footer a i.bi-instagram:focus {
    color: #F602B5;
  }
  
  footer a i.bi-youtube:hover, footer a i.bi-youtube:focus {
    color: #C40039;
  }
  
  footer a i.bi-linkedin:hover, footer a i.bi-linkedin:focus {
    color: #02FFE7;
  }

/* Services Index */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.search-bar, 
.category-section, 
.services-section {
  margin: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.button {
  background-color: #27c6e6;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.service-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.services-flex{
  display: flex;
  justify-content: space-between;
}


.deleteButton {
  background-color: #dc3545; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}

/* Pagination */
.pagination {
  text-align: center;
  padding: 20px 0;
}

.pagination button {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

/* Custom Styles */

.no-style {
  background-color: transparent;
}

i.bi-trash3-fill:hover {
  color: red;
  transition: color 0.3s ease;
}

i.bi-pencil-square:hover {
  color: green;
  transition: color 0.3s ease;
}

div.bg-blue, li.bg-blue {
  background-color: #224182;
}

li.bg-lblue {
  background-color: #C4E6F0;
}

div.bg-head {
  background-color: #222222;
}


div.bg-gray {
  background-color: #f9f9f9;
}

div.bg-dgray {
  background-color: #ececec;
}

.bg-header {
  background-color: var(--tertiary-color);
}

div.custom-hover {
  background-color: var(--white);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

div.custom-hover:hover {
  background-color: #C4E6F0;
  transform: translateY(-5px) scale(1.01);
}

a.fs-7:hover {
  color: #17ADBB;
  transition: color 0.3s ease;
}

/* CSS Animation */

@keyframes colorChange {
  0% { color: white; }
  50% { color: #02FFE7; }
  100% { color: white; }
}

@keyframes colorAlter {
  0% { color: #FF91B1; }
  50% { color: #C40039; }
  100% { color: #FF91B1; }
}

.color-changing-text {
  animation: colorChange 10s infinite;
}

.alter-changing-text {
  animation: colorAlter 10s infinite;
}

/* Breakpoint */

@media (max-width: 992px) {
  div.content {
    margin-left: 0px;
  }
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .sidebar.active {
    transform: translateX(0);
  }

  .top-nav {
    z-index: 1050;
  }

  .drop-menu{
    padding-top: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
  }

  .mobile-menu{
    background-color: #222222;
  }

  .mobile-menu .nav-link {
    color: white;
    padding-left: 65px;
  }
  
  .mobile-menu .nav-link:hover {
    background-color: #17ADBB;
    justify-content: left;
  }

  .img-gallery {
    display: none;
  }
  
  .image-body {
    background-image: none;
    width: 100%;
  }
  
  }